body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* gap:2rem; */
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 400;
   font-style: normal;
   background-color: #f7f4f2; 
   /* background-color: #e6e2d3; */
   color: #ca6b2c;
   /* padding-top:20px; */
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
 h1{
    font-size:3rem;
}
h2{
   font-size:2rem;
   font-weight: 300;
}
h3{
    font-weight:200;
  font-size:1.25rem;
}
h4{
       font-size:1rem;
} 
p{
    font-size:1.1rem;
    font-weight:100;
}
nav{
    display:flex;
    flex-direction: column;
    overflow: hidden;
     background-color: #f7f4f2;
     padding:1rem;
} 
nav>.mainpart{
     display:flex; 
    flex-direction: row; 
     /* justify-content:space-around;    for website view */
     justify-content: space-around;
     align-items: center;
     /* background-color: rgb(234, 234, 223); */
}
nav>.menubar{
  display:flex;
  flex-direction: column;
  align-items: center;
 
}
nav>.menubar>ul{
    list-style-type: none;
    /* gap: 5rem; */
    /* padding-top:0.5rem; */
    /* flex-wrap:wrap; */
    /* flex-flow:wrap; */
}
nav>.menubar>ul>li{
    font-size: clamp(0.3rem,1.5rem,3rem);  
   /* font-size:max(5rem); */
   /* max-width: 15rem; 
   height:auto; */
}
nav>.menubar>ul>li>a{
   text-decoration: none;
   color:#ca6b2c;
   font-size:1.5rem;
}
nav>.menubar>ul>li>a:hover, nav>ul>li>a:focus {
   color:#aa814f;
   font-weight: bold;
 }
nav>.mainpart>ul{
    list-style-type: none;
    display:flex;
    flex-direction: row;
    gap: 4rem;
    /* padding-top:0.5rem; */
    /* flex-wrap:wrap; */
    /* flex-flow:wrap; */
}
nav>.mainpart>ul>li{
     font-size: clamp(0.3rem,1.5rem,3rem);  
    /* font-size:max(5rem); */
    /* max-width: 15rem; 
    height:auto; */
}
nav>.mainpart>ul>li>a{
    text-decoration: none;
    color:#ca6b2c;
    font-size:1.5rem;
}
nav>.mainpart>ul>li>a:hover, nav>ul>li>a:focus {
    color:#aa814f;
    font-weight: bold;
  }
nav>.mainpart>a>img.logo{
    width: 100%;
    max-width: 15rem;
    /* min-width: 7rem; */
    height: auto;
    /* height:auto; */
    /* padding-top:1rem; */
}
nav>.mainpart>a>img.menu{
    width: 100%;
    max-height: 4rem; 
    width: auto;  
    /* min-width: 7rem; */
    /* max-height: 4rem; */
}
header{
    display:flex;
    flex-direction: row;
}
header>img{
     width: 50%;
    /* max-width: 50rem; */
    height: auto; 
}
header>.aboutme{
     /* width: 100%;  */
    /* background-image: url(images/Untitled+design+\(18\).png); */
    background-color: #e0d0bc;
   /* background-color: rgb(215, 199, 199);  */
     /* background-size: cover; */
    /* max-width: 50rem;  */
    padding:2rem;
   display:flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   justify-content: center;
   gap:3rem;
}
main>.websites{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    padding:4rem;
}
main>.websites>.website{
    padding:3rem;
    text-align: center;
}
main>.websites>.website>img{
    width: 100%;
    max-width: 40rem;
    height: auto;
}
main>.booking{
    /* background-size: 100% auto; */
    /* background-size:cover;
   background-image:url(images/Untitled+design+\(18\).png) ;   */
     background: linear-gradient(
        to top,
        #e0d0bc 0%,
        #e0d0bc 81%,
        #f7f4f2 29%,
        #f7f4f2 100%
      );
   /* background-color: #e0d0bc; */
   display:flex;
   flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:2rem;
}
main>.booking>img{
   width:8rem;
}
main>.booking>h3>a{
    color:#aa814f;
 }
footer{
    /* background-color:#667359;  */
    background-color: #aa814f;
}
footer>.ad{
    display:flex;
    flex-direction: row;
    color: #f7f4f2;
    padding:7rem;
    gap:10rem;
}
footer>.ad>img{
    width:25rem;
}
footer>.ad>.audiotrainingwriting{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
 footer>.lastwords{
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    gap:3.5rem;
    background-color: #f7f4f2;
    padding: 2rem;
    text-align: center;
} 
footer>.lastwords>.connect>a>img{
    width:2rem;
}
footer>.lastwords>.workinfo>img{
    width:15rem;
} 
footer>.rights{
    display:flex;
    align-content:center;
    justify-content: center;
    background-color: #e0d0bc;
    padding: 2rem;
}
footer>.rights>p>a{
    color:#aa814f;
}
button{
    color:#f7f4f2;
    background-color:  #aa814f;
    border-radius: 0.5rem;
    border: #f7f4f2 solid 0.2rem;
    padding:1rem;
    box-shadow: #aa814f;
    font-weight: bold;
}
@media (min-width:481px){
     nav>.mainpart>a>img.menu{
        display:none;
     }
     nav>.menubar{
        display:none;
     }
}
@media (max-width:480px){
    nav>.mainpart>ul>li{
         display:none;
     }
 }
@media (min-width:481px) and (max-width:767px){

}
@media(min-width:768px) and (max-width:1024px){

}
@media(min-width:1025px) and (max-width:1280px){

}
@media(min-width:1025px) and (max-width:1280px){

}
@media(min-width:1281px){

}